<div class="mb0">
  <div class="container-fluid p0 m0">
    <div class="row mx-responsive p0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0 m0">
        <div>
          <h1 class="uppercase pt3 mb0">Írásaim</h1>
          <h2 class="h3 gray-secondary-text mt2 mbhalf">Legfrissebb</h2>
        </div>
      </div>
    </div>
    <div class="row mx-responsive-mobile p0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0">
        <div class="bg-blue-neutral-bg-darker rounded-2 mb1 border-shadow"">
          <div class=" row p0 m0">
          <div
            class="col-xs-12 col-sm-12 col-md-10 col-lg-5 col-xl-5 d-none d-sm-none d-md-none d-lg-block d-xl-block p0">
            <img class="m0" src="<%= currentPostCoverImage %>"" alt=" <%= currentPostTitle %>">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7 col-xl-7 p0 pbhalf">
            <div class="plhalf prhalf">
              <h3 class="h2 no-underline mb1 blue-heading-primary m0 pthalf"><a href="<%= currentPostLink %>"
                  class="blue-heading-primary no-visited pbhalf"><%= currentPostTitle %></a></h3>
              <p class="m0 pbhalf black-body"><%= currentPostExcerpt %></p>
              <a href="<%= currentPostLink %>"
                class="btn btn-lg bg-gold-highlight uppercase min-size expanded no-underline no-visited">Tovább
                olvasom</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>