<h1 class="no-underline mbhalf m0"><%= title %></h1>
<p class="medium-size gray-secondary-text mb2"><span><%= date %> | <%= topic %></span> | <a href="<%= canonicalUrl %>/#disqus_thread" title="Hozzászólok a Disqus-on keresztül" class="small-size">Nincs hozzászólás</a> | <span>Megosztás:</span> <a href="https://facebook.com/sharer.php?u=<%= canonicalUrl %>" rel="nofollow" target="_blank" title="Megosztás itt: Facebook">Facebook</a></p>
