<div class="container mt3">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0 align-left">
    <% for (var i = 0; i < site.postData.length; i++) { %>
    <article>
      <div class="plhalf prhalf pthalf m0 mb3 border-full border-shadow clearfix" style="background: #fffff0;">
        <div class="clearfix">
          <p class="minimal gray mb0 pull-right"><span class="glyphicon glyphicon-time"></span> <%= site.dateFormatted[i] %></p>
        </div>
        <a href="<%= pathsToPosts[i] %>" class="big mbhalf bold-800 pt-sans m0"><%= site.postData[i].title %></a>
        <hr>
        <a href="<%= pathsToPosts[i] %>">
          <img class="m0 img-responive" src="<%= site.postData[i].cover_image %>" alt="<%= site.postData[i].title %>"/>
        </a>
        <hr>
        <p class="m0 pbhalf pl1"><%= site.postData[i].description %></p>
        <a class="btn btn-primary pull-right mbhalf smallest" href="<%= pathsToPosts[i] %>">Tovább olvasom &raquo;</a>
      </div>
    </article>
    <% } %>
  </div>
</div>
