
<div width="100%">
  <div class="container-fluid m0">
    <div class="row">
      <div class="col-xs-12 col-sm-7 pl2 pr1">
        <div class="mb3">
        <h1 class="big uppercase gray mb2">Aktuális cikkeim</h1>
        <% for (var i = 0; i < articleLimit; i++) { %>
        <article>
          <div class="prhalf pthalf mr1 mb3">
            <a href="<%= postsDataForIndexPage[i].pathToPost %>" class="no-underline">
              <h2 class="big no-underline mbhalf expanded black-900 m0 mbhalf"><%= postsDataForIndexPage[i].title %></h2>
            </a> 
            <p class="minimal gray mb1 uppercase arial"><%= postsDataForIndexPage[i].dateFormatted %> | <%= postsDataForIndexPage[i].topic %></p>
            <p class="m0 pbhalf black normal-size"><%= postsDataForIndexPage[i].excerpt %></p>
          </div>
        </article>
        <% } %>
        </div>

        <div class="align-center mb3">
          <button id="toggle" class="btn btn-md minimal uppercase no-underline arial">Korábbi cikkek...</button>
        </div>

        <div id="archive">
        <% for (var i = articleLimit; i < postsDataForIndexPage.length; i++) { %>
          <article>
            <div class="prhalf pthalf mr1 mb3">
              <a href="<%= postsDataForIndexPage[i].pathToPost %>" class="no-underline">
                <h2 class="big no-underline mbhalf expanded black-900 m0 mbhalf"><%= postsDataForIndexPage[i].title %></h2>
              </a>
              <p class="minimal gray mb1 uppercase"><%= postsDataForIndexPage[i].dateFormatted %> | <%= postsDataForIndexPage[i].topic %></p>
              <p class="m0 pbhalf black normal-size"><%= postsDataForIndexPage[i].excerpt %></p>
            </div>
          </article>
        <% } %>  
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-5 pl2 pr1">
        <div class="mb1">
          <div class="pb1">
            <img class="mt0 left profile-small unselectable" src="<%= site.image %>" alt="<%= site.author %>"/>
            <p class="mt1 small arial dark-gray"><%= site.description %> <a href="https://github.com/<%= site.github %>">Github</a> | <a class="smallest mrhalf" href="https://linkedin.com/in/<%= site.linkedin %>">Linkedin</a></p>
          </div>
        </div>

        <div class="mb2">
          <h4 class="mt0 pthalf mb1 dark-gray smallest">Tartalomjegyzék</h4>
          <% for (var i = 0; i < blogArchive.length; i++) { %>
          <h5 class="mt0 mlhalf mbhalf dark-gray blog-archive normal">
            <a href="#y<%= blogArchive[i].year %>" data-toggle="collapse" class="no-underline arial smallest normal">
              <%= blogArchive[i].year %><span class="gray normal"> (<%= blogArchive[i].articles.length %>)</span>
              <b class="caret"></b>
            </a>
          </h5>
          <ul id="y<%= blogArchive[i].year %>" class="no-bullets prhalf plhalf collapse">
            <% if (blogArchive[i].months.dec) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">december</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].dec) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].dec.link %>">
                    <%= blogArchive[i].articles[j].dec.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>

            <% if (blogArchive[i].months.nov) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">november</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].nov) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].nov.link %>">
                    <%= blogArchive[i].articles[j].nov.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>
            
            <% if (blogArchive[i].months.oct) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">október</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].oct) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].oct.link %>">
                    <%= blogArchive[i].articles[j].oct.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>

            <% if (blogArchive[i].months.sep) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">szeptember</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].sep) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].sep.link %>">
                    <%= blogArchive[i].articles[j].sep.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>

            <% if (blogArchive[i].months.aug) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">augusztus</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].aug) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].aug.link %>">
                    <%= blogArchive[i].articles[j].aug.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>

            <% if (blogArchive[i].months.jul) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">július</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].jul) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].jul.link %>">
                    <%= blogArchive[i].articles[j].jul.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>

            <% if (blogArchive[i].months.jun) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">június</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].jun) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].jun.link %>">
                    <%= blogArchive[i].articles[j].jun.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>

            <% if (blogArchive[i].months.may) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">május</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].may) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].may.link %>">
                    <%= blogArchive[i].articles[j].may.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>

            <% if (blogArchive[i].months.apr) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">április</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].apr) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].apr.link %>">
                    <%= blogArchive[i].articles[j].apr.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>

            <% if (blogArchive[i].months.mar) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">március</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].mar) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].mar.link %>">
                    <%= blogArchive[i].articles[j].mar.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>

            <% if (blogArchive[i].months.feb) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">február</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].feb) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].feb.link %>">
                    <%= blogArchive[i].articles[j].feb.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>

            <% if (blogArchive[i].months.jan) { %>
            <li>
              <h5 class="mlhalf mt1 mb0 arial dark-gray normal">január</h5>
              <ul class="no-bullets mthalf">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
                <% if (blogArchive[i].articles[j].jan) { %>
                <li class="mbhalf mlhalf">
                  <a class="smallest no-underline arial" href="<%= blogArchive[i].articles[j].jan.link %>">
                    <%= blogArchive[i].articles[j].jan.title %>
                  </a>
                </li>
                <% } %>
              <% } %>
              </ul>
            </li>
            <% } %>
          </ul>
        <% } %>
        </div>

        <div>
          <h4 class="mt0 pthalf mb0 dark-gray smallest">Témakörök szerint</h4>
          <ul class="no-bullets mthalf">
            <li class="mbhalf"><a href="#" class="smallest arial no-underline">Mezőgazdaság</a></li>
            <li class="mbhalf"><a href="#" class="smallest arial no-underline">Energetika</a></li>
            <li class="mbhalf"><a href="#" class="smallest arial no-underline">Klímaváltozás</a></li>
            <li class="mbhalf"><a href="#" class="smallest arial no-underline">Politika</a></li>
          </ul>
        </div>

        <div>
          <h4 class="mt0 pthalf mb1 dark-gray smallest">Kapcsolatfelvétel</h4>

          <form name="contact" class="arial" method="POST" netlify-honeypot="bot-field" netlify>
            <p class="hidden">
              <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
            </p>
            <div class="form-group">
              <label for="inputEmail" class="minimal dark-gray">Az e-mail címed</label>
              <br>
              <input type="text" name="name" id="inputEmail" class="border-round" required/>
            </div>
            <div class="form-group">
                <label for="message" class="minimal dark-gray">Az üzeneted</label>
                <br>
                <textarea name="message" id="message" required></textarea>
            </div>
            <button type="submit" class="btn btn-large minimal">Üzenet elküldése</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
