<footer class="mt3 mb5 pr1 pl1">
  <div class="sm-col-12 md-col-9 lg-col-6 col-7 mx-auto align-center">
    <!-- SVG ICONS -->
    <a href="https://www.minds.com/<%= site.minds %>" class="prhalf icon"><svg class="unselectable" width="21.2px" height="34.5px" viewBox="0 0 212 345" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 47 (45396) - http://www.bohemiancoding.com/sketch -->
      <title>Minds.com</title>
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="bulb" transform="translate(-51.000000, -27.000000)">
          <g id="Group-5" transform="translate(107.000000, 290.000000)">
            <path d="M24.7524752,43 L22.7722772,72 L24.7524752,43 Z" id="Triangle-3" fill="#656565"></path>
            <polygon id="Triangle-3" fill="#656565" points="0 62 25 41 50 82"></polygon>
            <polygon id="Triangle-3" fill="#787778" points="0 0 0 62 25 41"></polygon>
            <polygon id="Triangle-3" fill="#5C5C5C" points="75 41 50 82 100 62"></polygon>
            <polygon id="Triangle-3" fill="#787778" points="100 62 75 41 100 0"></polygon>
            <polygon id="Triangle-3" fill="#4A4A4A" points="0 0 100 0 50 82"></polygon>
          </g>
          <g id="Group" transform="translate(6.000000, 1.000000)">
            <polygon id="Triangle-3" fill="#FED12F" points="111 100 217 144 141 205"></polygon>
            <polygon id="Triangle-3" fill="#FED12F" points="191 26 251 88 217 144"></polygon>
            <polygon id="Triangle-3" fill="#FED12F" points="101 289 211 257 201 289"></polygon>
            <polygon id="Triangle-3" fill="#FED12F" points="91 257 141 205 101 289"></polygon>
            <polygon id="Triangle-3" fill="#FED12F" points="51 88 111 26 111 100"></polygon>
            <polygon id="Triangle-3" fill="#FFF3CB" points="141 205 211 257 217 144"></polygon>
            <polygon id="Triangle-3" fill="#FFF3CB" transform="translate(91.982123, 202.376609) rotate(140.000000) translate(-91.982123, -202.376609) " points="56.1185344 168.858891 118.731412 243.589257 127.845712 161.163961"></polygon>
            <polygon id="Triangle-3" fill="#FFDD63" transform="translate(187.648863, 90.616899) rotate(-53.000000) translate(-187.648863, -90.616899) " points="134.026748 35.0492865 241.270978 54.4058156 162.679178 146.184512"></polygon>
            <polygon id="Triangle-3" fill="#FFEDAC" transform="translate(112.700659, 170.148822) rotate(-53.000000) translate(-112.700659, -170.148822) " points="57.7008005 126.823779 167.700517 126.574001 101.898239 213.723643"></polygon>
            <polygon id="Triangle-3" fill="#FFDD63" transform="translate(148.569878, 267.401001) rotate(-53.000000) translate(-148.569878, -267.401001) " points="102.691884 242.40861 193.849867 223.801568 194.447872 311.000435"></polygon>
            <polygon id="Triangle-3" fill="#FFDD63" transform="translate(214.000000, 200.500000) rotate(-53.000000) translate(-214.000000, -200.500000) " points="167.071649 232.106642 260.928351 168.893358 249.86099 227.318639"></polygon>
            <polygon id="Triangle-3" fill="#FFDD63" transform="translate(55.981655, 127.407987) rotate(-53.000000) translate(-55.981655, -127.407987) " points="0.981796369 155.102831 84.4562375 99.713142 110.981513 154.853053"></polygon>
            <polygon id="Triangle-3" fill="#FEE382" transform="translate(254.000000, 138.000000) rotate(-53.000000) translate(-254.000000, -138.000000) " points="226.941031 112.061376 292.12633 105.513342 215.87367 170.486658"></polygon>
            <polygon id="Triangle-3" fill="#FEF1C0" transform="translate(146.320889, 50.144248) rotate(160.000000) translate(-146.320889, -50.144248) " points="96.0784387 57.5512633 196.563339 15.3756208 171.253848 84.9128748"></polygon>
          </g>
        </g>
      </g>
    </svg></a>
    <a href="https://linkedin.com/in/<%= site.linkedin %>" class="prhalf icon"><svg class="unselectable" enable-background="new 0 0 512 512" height="32px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Linkedin</title><g><path clip-rule="evenodd" d="M256.23,512C396.81,512,512,396.81,512,256.23   C512,115.184,396.81,0,256.23,0C115.184,0,0,115.184,0,256.23C0,396.81,115.184,512,256.23,512L256.23,512z" fill="#1983BC" fill-rule="evenodd"/><path clip-rule="evenodd" d="M175.958,399.98h-48.073V175.958h48.073V399.98z M329.238,175.958   c42.621,0,70.742,24.935,70.742,80.272v143.75h-48.072V272.088c0-30.832-11.327-48.064-37.637-48.064s-58.041,22.224-58.041,48.064   V399.98H208.15V175.958h48.081v32.192C272.088,191.823,295.68,175.958,329.238,175.958L329.238,175.958z M151.922,79.812   c17.686,0,32.199,14.514,32.199,32.2s-14.514,31.747-32.199,31.747c-17.686,0-32.2-14.061-32.2-31.747   S134.236,79.812,151.922,79.812L151.922,79.812z" fill="#FFFFFF" fill-rule="evenodd"/></g></svg></a>
    <a href="https://github.com/<%= site.github %>" class="prhalf icon"><svg class="unselectable" aria-labelledby="simpleicons-github-icon" role="img" viewBox="0 0 24 24" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg"><title>Github</title><path fill="#333333" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg></a>
    <a href="mailto:<%= site.email %>" class="prhalf icon"><svg class="unselectable" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 64 64"><title>E-mail</title><polygon points="61 29 31.95 12 3 29 3 32 32 45 61 32 61 29" style="fill:#acb7d0;"/><path d="M22.24,4.94H48a3,3,0,0,1,3,3v28l-19.05,9L13,35.94V14.18a3,3,0,0,1,.88-2.12l6.24-6.24A3,3,0,0,1,22.24,4.94Z" style="fill:#bbdef9;"/><polygon points="51 29.47 51 8.63 25.07 41.38 29 44 37 43 42.3 40.47 51 29.47" style="fill:#cce7fc;"/><polygon points="22.79 40 50.5 5 46 5 19 39.1 22.79 40" style="fill:#cce7fc;"/><polygon points="16 38.21 43.5 5 42 5 15 37.53 16 38.21" style="fill:#cce7fc;"/><polygon points="44.5 21 45.74 23.26 48 24.5 45.74 25.74 44.5 28 43.26 25.74 41 24.5 43.26 23.26 44.5 21" style="fill:#fff;"/><polygon points="32.42 8 33.27 9.56 34.84 10.42 33.27 11.27 32.42 12.84 31.56 11.27 30 10.42 31.56 9.56 32.42 8" style="fill:#fff;"/><polygon points="31.65 38 32.23 39.06 33.3 39.65 32.23 40.23 31.65 41.3 31.07 40.23 30 39.65 31.07 39.06 31.65 38" style="fill:#fff;"/><polygon points="23 4.94 23 14.94 13 14.94 23 4.94" style="fill:#ffefb8;"/><path d="M59,59.23H4.89a2,2,0,0,1-2-2V31.87L32,44.87l29-13V57.23A2,2,0,0,1,59,59.23Z" style="fill:#faefde;"/><path d="M6.89,52H57a4,4,0,0,1,4,4v1.23a2,2,0,0,1-2,2H4.89a2,2,0,0,1-2-2V56A4,4,0,0,1,6.89,52Z" style="fill:#efd8be;"/><path d="M60.54,27.56,52,22.43V7a3,3,0,0,0-3-3H23.66a5,5,0,0,0-3.54,1.46l-6.66,6.66A5,5,0,0,0,12,15.66v6.78L3.46,27.56A3,3,0,0,0,2,30.13V57a3,3,0,0,0,3,3H59a3,3,0,0,0,3-3V30.13A3,3,0,0,0,60.54,27.56Zm-39-20.68A3,3,0,0,1,22,6.5V13a1,1,0,0,1-1,1H14.5a3,3,0,0,1,.38-.46Zm-17,22.4L12,24.77V31a1,1,0,0,0,2,0V16h7a3,3,0,0,0,3-3V6H49a1,1,0,0,1,1,1V31a1,1,0,0,0,2,0V24.77l7.51,4.51a1,1,0,0,1,.49.86v1.22l-26.77,12a3,3,0,0,1-2.45,0L4,31.35V30.13A1,1,0,0,1,4.49,29.27ZM59,58H5a1,1,0,0,1-1-1V33.54L30,45.18a5,5,0,0,0,4.09,0L60,33.54V57A1,1,0,0,1,59,58Z" style="fill:#8d6c9f;"/><path d="M12,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,12,50Z" style="fill:#8d6c9f;"/><path d="M7,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,7,50Z" style="fill:#8d6c9f;"/><path d="M17,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,17,50Z" style="fill:#8d6c9f;"/><path d="M22,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,22,50Z" style="fill:#8d6c9f;"/><path d="M27,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,27,50Z" style="fill:#8d6c9f;"/><path d="M32,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,32,50Z" style="fill:#8d6c9f;"/><path d="M37,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,37,50Z" style="fill:#8d6c9f;"/><path d="M42,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,42,50Z" style="fill:#8d6c9f;"/><path d="M47,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,47,50Z" style="fill:#8d6c9f;"/><path d="M52,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,52,50Z" style="fill:#8d6c9f;"/><path d="M57,50a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V51A1,1,0,0,0,57,50Z" style="fill:#8d6c9f;"/><path d="M31,36h6a1,1,0,0,0,0-2H31a5,5,0,0,1-5-5V23a5,5,0,0,1,5-5h2a5,5,0,0,1,5,5v6a1,1,0,0,1-2,0V24a4,4,0,0,0-8,0v4a4,4,0,0,0,6.71,2.92A3,3,0,0,0,40,29V23a7,7,0,0,0-7-7H31a7,7,0,0,0-7,7v6A7,7,0,0,0,31,36Zm1-6a2,2,0,0,1-2-2V24a2,2,0,0,1,4,0v4A2,2,0,0,1,32,30Z" style="fill:#8d6c9f;"/></svg></a>
  </div>

  <div class="sm-col-12 md-col-9 lg-col-6 col-7 mx-auto align-center">
    <p class="small dark-gray">Minden jog fenntartva &copy; <%= site.year %> <br />
    <%= site.author %>, Magyarország, Szeged</p>
  </div>

</footer>
