<footer class="mt3 mb5 pr1 pl1">
  <div class="sm-col-12 md-col-9 lg-col-6 col-7 mx-auto align-center">
    <!-- SVG ICONS -->
    <a href="https://www.minds.com/<%= site.minds %>" class="prhalf icon"><svg class="unselectable" width="21.2px" height="34.5px" viewBox="0 0 212 345" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 47 (45396) - http://www.bohemiancoding.com/sketch -->
      <title>Minds.com</title>
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="bulb" transform="translate(-51.000000, -27.000000)">
          <g id="Group-5" transform="translate(107.000000, 290.000000)">
            <path d="M24.7524752,43 L22.7722772,72 L24.7524752,43 Z" id="Triangle-3" fill="#656565"></path>
            <polygon id="Triangle-3" fill="#656565" points="0 62 25 41 50 82"></polygon>
            <polygon id="Triangle-3" fill="#787778" points="0 0 0 62 25 41"></polygon>
            <polygon id="Triangle-3" fill="#5C5C5C" points="75 41 50 82 100 62"></polygon>
            <polygon id="Triangle-3" fill="#787778" points="100 62 75 41 100 0"></polygon>
            <polygon id="Triangle-3" fill="#4A4A4A" points="0 0 100 0 50 82"></polygon>
          </g>
          <g id="Group" transform="translate(6.000000, 1.000000)">
            <polygon id="Triangle-3" fill="#FED12F" points="111 100 217 144 141 205"></polygon>
            <polygon id="Triangle-3" fill="#FED12F" points="191 26 251 88 217 144"></polygon>
            <polygon id="Triangle-3" fill="#FED12F" points="101 289 211 257 201 289"></polygon>
            <polygon id="Triangle-3" fill="#FED12F" points="91 257 141 205 101 289"></polygon>
            <polygon id="Triangle-3" fill="#FED12F" points="51 88 111 26 111 100"></polygon>
            <polygon id="Triangle-3" fill="#FFF3CB" points="141 205 211 257 217 144"></polygon>
            <polygon id="Triangle-3" fill="#FFF3CB" transform="translate(91.982123, 202.376609) rotate(140.000000) translate(-91.982123, -202.376609) " points="56.1185344 168.858891 118.731412 243.589257 127.845712 161.163961"></polygon>
            <polygon id="Triangle-3" fill="#FFDD63" transform="translate(187.648863, 90.616899) rotate(-53.000000) translate(-187.648863, -90.616899) " points="134.026748 35.0492865 241.270978 54.4058156 162.679178 146.184512"></polygon>
            <polygon id="Triangle-3" fill="#FFEDAC" transform="translate(112.700659, 170.148822) rotate(-53.000000) translate(-112.700659, -170.148822) " points="57.7008005 126.823779 167.700517 126.574001 101.898239 213.723643"></polygon>
            <polygon id="Triangle-3" fill="#FFDD63" transform="translate(148.569878, 267.401001) rotate(-53.000000) translate(-148.569878, -267.401001) " points="102.691884 242.40861 193.849867 223.801568 194.447872 311.000435"></polygon>
            <polygon id="Triangle-3" fill="#FFDD63" transform="translate(214.000000, 200.500000) rotate(-53.000000) translate(-214.000000, -200.500000) " points="167.071649 232.106642 260.928351 168.893358 249.86099 227.318639"></polygon>
            <polygon id="Triangle-3" fill="#FFDD63" transform="translate(55.981655, 127.407987) rotate(-53.000000) translate(-55.981655, -127.407987) " points="0.981796369 155.102831 84.4562375 99.713142 110.981513 154.853053"></polygon>
            <polygon id="Triangle-3" fill="#FEE382" transform="translate(254.000000, 138.000000) rotate(-53.000000) translate(-254.000000, -138.000000) " points="226.941031 112.061376 292.12633 105.513342 215.87367 170.486658"></polygon>
            <polygon id="Triangle-3" fill="#FEF1C0" transform="translate(146.320889, 50.144248) rotate(160.000000) translate(-146.320889, -50.144248) " points="96.0784387 57.5512633 196.563339 15.3756208 171.253848 84.9128748"></polygon>
          </g>
        </g>
      </g>
    </svg></a>
    <a href="https://linkedin.com/in/<%= site.linkedin %>" class="prhalf icon"><svg class="unselectable" enable-background="new 0 0 512 512" height="32px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Linkedin</title><g><path clip-rule="evenodd" d="M256.23,512C396.81,512,512,396.81,512,256.23   C512,115.184,396.81,0,256.23,0C115.184,0,0,115.184,0,256.23C0,396.81,115.184,512,256.23,512L256.23,512z" fill="#1983BC" fill-rule="evenodd"/><path clip-rule="evenodd" d="M175.958,399.98h-48.073V175.958h48.073V399.98z M329.238,175.958   c42.621,0,70.742,24.935,70.742,80.272v143.75h-48.072V272.088c0-30.832-11.327-48.064-37.637-48.064s-58.041,22.224-58.041,48.064   V399.98H208.15V175.958h48.081v32.192C272.088,191.823,295.68,175.958,329.238,175.958L329.238,175.958z M151.922,79.812   c17.686,0,32.199,14.514,32.199,32.2s-14.514,31.747-32.199,31.747c-17.686,0-32.2-14.061-32.2-31.747   S134.236,79.812,151.922,79.812L151.922,79.812z" fill="#FFFFFF" fill-rule="evenodd"/></g></svg></a>
    <a href="https://github.com/<%= site.github %>" class="prhalf icon"><svg class="unselectable" aria-labelledby="simpleicons-github-icon" role="img" viewBox="0 0 24 24" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg"><title>Github</title><path fill="#1983BC" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg></a>
  </div>

  <div class="sm-col-12 md-col-9 lg-col-6 col-7 mx-auto align-center">
    <p class="small dark-gray">Minden jog fenntartva &copy; <%= site.year %> <br />
    <%= site.title %>, Magyarország, Szeged  &#8729; <a href="mailto:<%= site.email %>">Kapcsolat</a></p>
  </div>

</footer>
