<!DOCTYPE html>
<html lang="hu">
  <!-- HEAD -->
  <%- include('../partials/head') %>
<body>
  <!-- MAIN CONTENT -->
  <main class="mt1 pr1 pl1 clear-padding">

    <!-- NAVIGATION BAR -->
    <%- include('../partials/navbar-about') %>

    <!-- ABOUT ME -->
    <%- body %>

  </main>

  <!-- FOOTER, SOCIAL MEDIA -->
  <%- include('../partials/footer') %>

  <!-- Tracker code, link to Netlify -->
  <%- include('../partials/netlify_clicky') %>
</body>
</html>