<!DOCTYPE html>
<html lang="hu">
  <!-- HEAD -->
  <%- include('../partials/head-post') %>
<body>

  <!-- MAIN CONTENT -->
  <main class="mt1 pr1 pl1 clear-padding">

    <!-- NAVIGATION BAR -->
    <%- include('../partials/navbar-post') %>

    <!-- BLOGPOST CONTENT -->
    <%- body %>
    
    <!-- NAVIGATION BAR -->
    <%- include('../partials/navbar-post-bottom') %>

    <!-- COMMENTS -->
    <%- include('../partials/disqus')%>

  </main>

  <!-- Tracker code, link to Netlify -->
  <%- include('../partials/netlify_clicky') %>
</body>
</html>