<!DOCTYPE html>
<html lang="hu">
  <%- include partials/head-post %>
<body>
  <%- include partials/header %>
  <main>
    <div>
      <div class="container-fluid p0 m0">
        <div class="row mx-responsive">
          <div id="article" class="mt2 mb0 col-12 p0"> 
          <%- include partials/post-title %>
          <%- body %>
          <%- include partials/share %>
          <%- include partials/disqus %>
          </div>
        </div>
      </div>
      <div class="container-fluid p0 m0 bg-blue-neutral-bg-lighter">
        <div class="row mx-responsive p0">
          <div class="m0 col-12 p0"> 
          <%- include partials/related-articles %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include partials/footer %>
  <%- include partials/scripts %>
  <%- include partials/tracking %>
  <script id="dsq-count-scr" src="//gulacsi-andras.disqus.com/count.js" async></script>
</body>
</html>